@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Marianne-Bold';
    src: url('/fonts/Marianne-Bold.woff2') format('woff2'),
         url('/fonts/Marianne-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne-Medium';
    src: url('/fonts/Marianne-Medium.woff2') format('woff2'),
         url('/fonts/Marianne-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne-Regular';
    src: url('/fonts/Marianne-Regular.woff2') format('woff2'),
         url('/fonts/Marianne-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Marianne-Regular', 'Marianne', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --blue-france-main: #000091;
    --blue-france-hover: #1212ff;
    --blue-france-active: #2323ff;

    --bg-light: #ffffff;
    --box-light: #dde5ff;
    --box-border: #000091;

    --text-color: #1D1D1B;
}
